@model Shopping.Data.Entities.Category
@{
    ViewData["Title"] = "Details";
}
<flash dismissable="true" />
<h1>Details</h1>

<div>

    <Partial name="_categoryDetails" />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-success">Back to List</a>
</div>
