@{
    ViewData["Title"] = "Order Success";
}
<flash dismissable="true" />
<div class="row">
    <div class="col-md-4 offset-4">
        <img src="~/images/Shopping.png" style="width:400px;" />
        <h2>Thank you!</h2>
        <h4>Your order was registered in our system, soon one of our advisors will contact you.</h4>
        <a asp-action="Index" class="mt-2 btn btn-outline-success">Continue Shopping</a>
    </div>
</div>
